

.index {
  width               : 100%;
  min-width           : 1425px;
  height              : 100vh;
  min-height          : 2259px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.index .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : 2255px;
  width               : 1277px;
  position            : absolute;
  margin              : 0;
  left                : 74px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.05;
}
.index .group3 .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 2255px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .group3 .linecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 2255px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 182px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .group3 .linecopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 2255px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 364px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .group3 .linecopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 2255px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 547px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .group3 .linecopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 2255px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 729px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .group3 .linecopy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 2255px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 912px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .group3 .linecopy6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 2255px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 1094px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .group3 .linecopy7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 2255px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 1276px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .group {
  background-color    : rgba(255,255,255,0.0);
  width               : 1435px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .group-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 841px;
  align-items         : center;
  height              : 477px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.index .group .rectanglecopy2 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 477px;
  width               : 477px;
  position            : absolute;
  margin              : 0;
  left                : 958px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.index .group .rectanglecopy2:hover {
  box-shadow          : 0px 0px 10px 2px rgba(0,0,0,0.2);
}
.index .group .rectanglecopy3 {
  background-color    : rgba(255, 0, 0, 1.0);
  top                 : 0px;
  height              : 477px;
  width               : 477px;
  position            : absolute;
  margin              : 0;
  left                : 479px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .group .rectanglecopy4 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 477px;
  width               : 477px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .group2 {
  background-color    : rgba(255,255,255,0.0);
  width               : 1278px;
  margin-right        : 0px;
  height              : 100%;
  pointer-events      : auto;
  margin-left         : -0px;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .group2-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 75px;
  align-items         : center;
  height              : 727px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.index .group2 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 190px;
  height              : 373px;
  width               : 467px;
  position            : absolute;
  margin              : 0;
  left                : 350px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .group2 .dribble {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 191px;
  width               : 131px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.index .group2 .dribble:hover {
  transform           : scale(1.1);
}
.index .group2 .dribble .path2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 190px;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .group2 .dribble .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 68px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .group2 .instagram {
  background-color    : rgba(255,255,255,0.0);
  top                 : 541px;
  height              : 186px;
  width               : 237px;
  position            : absolute;
  margin              : 0;
  left                : 1041px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.index .group2 .instagram:hover {
  transform           : scale(1.1);
}
.index .group2 .instagram .path3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 186px;
  width               : 237px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.index .group2 .instagram .path3:hover {
  
}
.index .group2 .instagram .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 82px;
  height              : 60px;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 110px;
  -ms-transform       : rotate(14deg); /* IE 9 */
  -webkit-transform   : rotate(14deg); /* Chrome, Safari, Opera */
  transform           : rotate(14deg);
  transition          : all 0.2s ease-in-out;
}
.index .group2 .instagram .shape:hover {
  
}
.index .group2 .mail {
  background-color    : rgba(255,255,255,0.0);
  top                 : 69px;
  height              : 260px;
  width               : 258px;
  position            : absolute;
  margin              : 0;
  left                : 667px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.index .group2 .mail:hover {
  transform           : scale(1.1);
}
.index .group2 .mail .path3copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : 182px;
  width               : 187px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(-53deg); /* IE 9 */
  -webkit-transform   : rotate(-53deg); /* Chrome, Safari, Opera */
  transform           : rotate(-53deg);
}
.index .group2 .mail .shapecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 102px;
  height              : 41px;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 119px;
  -ms-transform       : rotate(-5deg); /* IE 9 */
  -webkit-transform   : rotate(-5deg); /* Chrome, Safari, Opera */
  transform           : rotate(-5deg);
}
.index .group2 .behance {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 242px;
  width               : 224px;
  position            : absolute;
  margin              : 0;
  left                : 1054px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.index .group2 .behance:hover {
  transform           : scale(1.1);
}
.index .group2 .behance .path4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 242px;
  width               : 223px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .group2 .behance .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 88px;
  height              : 70px;
  width               : 105px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(20deg); /* IE 9 */
  -webkit-transform   : rotate(20deg); /* Chrome, Safari, Opera */
  transform           : rotate(20deg);
}
.index .group2 .github {
  background-color    : rgba(255,255,255,0.0);
  top                 : 424px;
  height              : 190px;
  width               : 197px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.index .group2 .github:hover {
  transform           : scale(1.1);
}
.index .group2 .github .path5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 189px;
  width               : 197px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.index .group2 .github .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 59px;
  height              : 44px;
  width               : 53px;
  position            : absolute;
  margin              : 0;
  left                : 66px;
  -ms-transform       : rotate(-14deg); /* IE 9 */
  -webkit-transform   : rotate(-14deg); /* Chrome, Safari, Opera */
  transform           : rotate(-14deg);
}
.index .linecopy8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : 353px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 1510px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}